.SearchForm {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
	border-radius: 3px;
	overflow: hidden;
	padding: 20px 10px;
}

.SearchForm__button {
	height: 30px;
	display: inline-block;
	cursor: pointer;
	outline: none;
	font-weight: 500;
	padding: 5px;
}

.SearchForm__input {
	height: 30px;
	display: inline-block;
	width: 100%;
	font: inherit;
	font-size: 20px;
	padding: 2px;
	outline: none;
}

.SearchForm__input::placeholder {
	font: inherit;
	font-size: 18px;
}
