.gallery_list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
}
.gallery_list_item {
	flex-basis: 100%;
}
@media screen and (min-width: 375px) {
	.gallery_list_item {
		flex-basis: calc((100% - 10px) / 2);
	}
}
@media screen and (min-width: 768px) {
	.gallery_list_item {
		flex-basis: calc((100% - 2 * 10px) / 3);
	}
}

@media screen and (min-width: 1158px) {
	.gallery_list_item {
		flex-basis: calc((100% - 3 * 10px) / 4);
	}
}
