.gallery_card {
	width: 100%;
	overflow: hidden;
	transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	position: relative;
}

.gallery_card:hover {
	transform: scale(1.08);
	box-shadow: 0 12px 24px #1976d2;
	z-index: 10;
	cursor: pointer;
}

.gallery_img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
