.MovieCast {
	list-style: disc;
	padding: 20px;
}
.MovieCast__item {
	margin-bottom: 30px;
}

.MovieCast__pic {
	width: 150px;
}

.MovieCast__name,
.MovieCast__character {
	margin-top: 7px;
	margin-bottom: 7px;
}
