.NotFoundPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 50px;
}
.warning {
	color: rgb(248, 89, 77);
}
.link {
	color: rgb(0, 105, 204);
	text-decoration: underline;
}
